@import "globals/zothacks-styles.scss";

.home {
	text-align: center;
	min-height: 100vh;

	section {
		padding-bottom: 8rem;
		padding-top: 8rem;
	}

	h1 {
		font-weight: 600;
		font-size: 6rem;
	}

	button {
		width: 100px;
		box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
		border: 0px !important;
	}

	.apply-button {
		transition-duration: 0.15s;
		&:hover {
			transform: scale(1.05);
		}
	}

	.apply-button-wrapper {
		display: block;
		margin-right: auto;
		@media screen and (max-width: $break-medium) {
			margin-right: 0;
		}
	}

	.glow {
		color: #fff;
		text-align: center;
		text-shadow: 0 0 50px #fff;
	}

	.card {
		color: white;
		width: 60vw;
		background: linear-gradient(
			to right,
			$lightPurpleBackground,
			$darkPurpleBackground
		);
		padding: 3rem;
		border-radius: 1rem;
		box-shadow: 0 30px 40px rgba(205, 106, 215, 0.54);
		z-index: 1;

		@media screen and (max-width: $break-small) {
			width: 80vw;
			text-align: center;
			padding: 1.7rem;
			padding-top: 2rem;
		}

		@media screen and (max-width: $break-medium) {
			margin-top: 5rem;
		}

		h2 {
			text-align: center;
			font-size: 3rem;
			// width: 80vw;

			@media screen and (max-width: $break-small) {
				font-size: 25px;
			}
		}
	}

	.card-text {
		text-align: left;
	}

	@media screen and (max-width: $break-medium) {
		.card p {
			text-align: center;
			font-size: 1rem;
		}
		.card h2 {
			font-size: 2rem;
		}
	}
}

@media screen and (max-width: $break-medium) {
	.sponsor-two {
		width: 40%;
	}
}

@media screen and (max-width: $break-small) {
	.sponsor-two {
		width: 30%;
	}
}
