@import "globals/zothacks-styles.scss";

.apply {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

  &~.footer {
    background: $darkPurpleBackground;
  }
}