@import "globals/zothacks-styles.scss";

.external-link-list {
  display: flex;
  flex-direction: row;
  & div {
    margin-right: 20px;
  }
}

.external-link-button {
  display: flex;
  align-items: center;
  background: $greenBackground;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
}

.external-link-text {
  color: white;
  text-decoration: none;
  & img {
    margin-left: 10px;
  }
  &:hover {
    text-decoration: none;
    color: white;
  }
}

@media screen and (max-width: 800px) {
  .external-link-list {
    flex-direction: column;
    & div {
      margin-bottom: 20px;
    }
  }
}
