.home {
	.intro {
		margin: 7rem 0 0 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;

		.zothacks-logo {
			width: 100px;
			margin: 0 auto 2rem auto;
			filter: brightness(0.2);
		}
	}
}
