@import "globals/zothacks-styles.scss";

.home {
	.landing {
		height: 100vh;
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		text-align: left;
		color: white;
		box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);
		background: linear-gradient(
			to right,
			$lightPurpleBackground,
			$darkPurpleBackground
		);

		.intro-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: calc(100% - 320px);
		}

		.schedule-nav {
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			justify-content: flex-end;

			a {
				margin-right: 0 !important;
				text-decoration: none;
				display: flex;
				align-items: center;

				h5 {
					margin-bottom: 0;
					margin-left: 30px;
				}
			}
		}

		.schedule-button {
			margin: 2em;
			box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
		}

		.title-info {
			display: flex;
			flex-direction: row;
			margin-top: 15rem;

			@media screen and (max-width: $break-large) {
				h1 {
					font-size: 70px;
				}
			}

			@media screen and (max-width: $break-medium) {
				flex-direction: column-reverse;
				align-items: center;
				text-align: center;
				justify-content: center;
				margin-top: 20rem;

				h1 {
					font-size: 60px;
				}
			}

			.hero-wrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
				z-index: 3;
			}

			.jeep-wrapper {
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: center;
				z-index: 3;
				width: 80%;
				height: 80%;

				img {
					height: 100%;
				}

				:first-child {
					position: absolute;
					top: 20px;
					animation: wobble 1.5s forwards, bounce 1s 1.5s infinite;
				}

				@media screen and (max-width: $break-large) {
					width: 70%;
					height: 70%;
				}

				@media screen and (max-width: $break-medium) {
					height: 62.5%;
					width: 62.5%;
				}

				@media screen and (max-width: $break-small) {
					height: 35%;
					width: 35%;
				}
			}

			@media screen and (max-width: $break-small) {
				.title-info {
					width: 100vw;
				}
			}

			div {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			h1 {
				margin-bottom: 0.1em !important;
			}
		}
	}
}
