@use "globals/bootstrap";
@import "globals/zothacks-styles.scss";

.home {
	.landing {
		height: 100vh;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;

		@include bootstrap.media-breakpoint-up(lg) {
			flex-direction: row;
		}

		text-align: center;
		color: white;
		box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);

		h1 {
			@include bootstrap.font-size(5rem);
		}

		.landing-title {
			padding: 2rem;
			display: flex;
			align-items: center;
			flex-direction: column;
		}

		.jeep-wrapper {
			img {
				width: min(100%, calc(30rem + 10vw));
				height: auto;
			}

			:first-child {
				position: absolute;
				top: 20px;
				animation: wobble 1.5s forwards, bounce 1s 1.5s infinite;
			}
		}

		.apply-link {
			margin-top: 2rem;
		}

		.apply-button {
			background: $lightBlueBackground;
			color: white;
			font-size: 2rem;
			border-radius: 10px;
			height: 4rem;
			width: 9rem;
			box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.6);
		}
	}
}
