@import "globals/zothacks-styles.scss";

#app-navbar {
  width: 100%;
  position: fixed;
  z-index: 100;
  background: rgba(8, 8, 77, 0.8);
  filter: drop-shadow(0px 7px 12px rgba(0, 0, 0, 0.35));

  .navbar-nav {
    align-items: center;
  }

  .nav-item {
    margin: 1rem;
  }

  .nav-link {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.35rem 1rem;
  }

  .nav-link-outline {
    border: 2px solid $pink;
    border-radius: 0.5rem;
    color: $pink;
    transition: background-color 0.35s ease, color 0.35s ease;

    &:hover,
    &.active {
      background-color: $pink;
      color: $fontColor;
    }
  }

  .navbar-logo {
    height: 40px;
    width: 40px;
  }
}

@media screen and (min-width: 768px) {
  #app-navbar {
    .navbar-logo {
      height: 60px;
      width: 60px;
    }

    .nav-link {
      font-size: 1.75rem;
    }
  }
}
