@import "globals/zothacks-styles.scss";
@import "globals/zothacks-helper.scss";

.Schedule {
  @include zothacks-background;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    @media screen and (max-width: $break-medium) {
      font-size: 3rem;
      margin-bottom: 0;
    }
  }

  #schedule-nav {
    width: 100vh;
    position: relative;
  }

  #schedule-block {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 100px;
    justify-content: center;
    align-items: center;
    color: white;

    .schedule-countdown {
      text-align: left;
      font-style: normal;
      font-size: 150px;
      font-size: 10vw;
      padding-top: 11vh;
      color: $tan;

      @media screen and (max-width: $break-medium) {
        margin-bottom: 0 !important;
      }
    }

    .schedule-countdown-text {
      font-style: normal;
      font-size: 1.5vw;
      color: $tan;

      @media screen and (max-width: $break-medium) {
        font-size: 3vw;
      }
    }
  }

  #schedule-cards {
    margin-top: 45vh;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 80%;

    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 80px;
    border-radius: 10px;
    @media screen and (max-width: $break-medium) {
      align-items: center;
    }

    .schedule-card {
      padding: 3rem;
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
      margin-right: 2rem;

      @media screen and (max-width: $break-medium) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2rem;
      }

      h3 {
        color: $white;
        font-style: normal;
        font-size: 3rem;
      }

      .schedule-card-event {
        float: left;
        padding-bottom: 28px;

        @media screen and (max-width: $break-medium) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
        }

        .left-text {
          float: left;
          font-style: normal;
          font-size: 1.75rem;
          color: $white;
        }

        .right-text {
          color: #ed96ca;
          font-size: 1.5rem;
          float: right;
        }
      }
    }
  }
}
